
# Server

PORT=5001
MONGO_URI=mongodb:mongodb+srv://kshitij:yourpassword@cluster0.abc123.mongodb.net/smart_investment
JWT_SECRET=any_random_string_here

# Alpha Vantage / Yahoo etc — add your keys
ALPHA_VANTAGE_KEY=your_alpha_vantage_key
YAHOO_API_KEY=your_yahoo_api_key
